
{% extends "shop\base.html" %}
{% block header %}
<!-- Brak nagłówka na tej stronie -->
{% endblock %}
{% block content %}
    <h1>Produkty</h1>
    
    <!-- Kontener na produkty -->
    <div class="product-list">
        {% for product in products %}
            <div class="product-card">
               
                <!-- Nazwa produktu -->
                <h3 class="product-name">{{ product.name }}</h3>

                <!-- Opis produktu (można wyświetlić tylko fragment) -->
                <p class="product-description">{{ product.description|truncatewords:15 }}</p>

                <!-- Cena produktu -->
                <p class="product-price">{{ product.price }} PLN</p>

                <!-- Link do szczegółów produktu -->
                <a href="{% url 'product_edit' pk=product.pk %}" class="btn-details">edytuj szczegóły</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}